@font-face {
  font-family: 'minecraft';
  src: url('/fonts/F77MinecraftRegular-0VYv.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.project:hover {
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;